* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*{
  box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Mada', sans-serif;
    text-align: center;
  }

.hi{
  background-image: url("pic2.png");
  background-size: cover;
  background-position: top center;
  height: 400px;
  width: 100%;
}

.hi .content h1{
  font-size: 40pt;
  font-weight: 700;
  color: white;
  padding: 160px;
}

.who h2{
  margin-top: 30px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  display: inline-block;
  font-weight: 700;
  padding: 5px;
  font-size: 20px;
}

.who h4{
color: rgb(10,10,10);
text-align: center;
margin: auto;
width: 700px;
font-weight: 300;
padding: 10px;
font-size: 17px;
}

.what h2{
  margin-top: 30px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  display: inline-block;
  font-weight: 700;
  padding: 5px;
  font-size: 20px;
}

.what h4{
  color: rgb(10,10,10);
  text-align: center;
  margin: auto;
  width: 700px;
  font-weight: 300;
  padding: 10px;
  font-size: 17px;
  }

.experience h2{
  margin-top: 30px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  display: inline-block;
  font-weight: 700;
  padding: 5px;
  font-size: 20px;
}

.column{
  float: left;
  width: 50%;
}

.column h2{
padding: 50px;
font-weight: 300;
color: rgb(10,10,10);
margin-bottom: 20px;
}


.github a{
  background: black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
  font-weight: 600;
}

.github a:link{
  color: white;
  text-decoration: none;
}

.github a:hover{
  background: lightcoral;
  color: white;
  text-decoration: none;
}

.footer{ 
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.footer > div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 50%;
  font-weight: 300;
}

