*{
  box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Mada', sans-serif;
  }

.footer {
  color: gray;
  margin: 30px 20px;
  border: 2px solid black;
  text-align: center;
}

