*{
  box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Mada', sans-serif;
    text-align: center;
  }

.hi{
  border-style: solid;
  border-color: lightcoral;
}

.footer{
  background-color: lightcoral;
}

.footer > div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 50%;

}

